html,
body {
  height: 100%;
  margin: 0;
  overflow: auto; /* Ensure entire page is scrollable */
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  background-color: #181818;
  color: #fff;
}

.container {
  text-align: center;
  width: 100%;
  overflow: hidden; /* Prevent overflow within the container */
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input[type="file"] {
  display: none;
}

.custom-file-input {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background-color: #f3c669;
  color: #fff;
  border: none;
  border-radius: 10px;
  display: inline-block;
}

#clearAll {
  background-color: #fc357b;
}

#buttonContainer {
  min-width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
}

button {
  margin: 10px;
  margin-right: 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #393939;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.selectedGridOption {
  outline: #f3c669 2px solid;
}

button span {
  opacity: 0.8;
}

.image-container {
  display: grid;
  gap: 10px;
  margin-top: 20px;
  max-width: 90%;
  grid-template-columns: repeat(
    auto-fill,
    minmax(100px, 1fr)
  ); /* Default for responsiveness */
  overflow: hidden; /* Prevent overflow within the grid container */
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure overlay is above other elements */
}

#overlayImage {
  max-height: 100%;
  width: auto;
  transition: transform 0.2s ease; /* Smooth transition for zoom effect */
}

/* Zoom lens */
#zoomLens {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: crosshair;
  /* Initial hidden state */
  display: none;
  pointer-events: none;
}

#overlayImage.zoomed {
  cursor: zoom-out;
}

@media (min-width: 600px) {
  #buttonContainer {
    display: flex;
    justify-content: space-between;
  }

  .image-container.twelve-per-row {
    grid-template-columns: repeat(12, 1fr);
  }

  .image-container.six-per-row {
    grid-template-columns: repeat(6, 1fr);
  }

  .image-container.three-per-row {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-container.one-per-row {
    grid-template-columns: repeat(1, 1fr);
  }
}
